 body{
height: 200vh;
max-height: 200;
background-image: url(https://lumiere-ak.akamaihd.net/v1/images/background-stars-desktop_00cbf8a9.jpeg);
margin: 0px;
  
}


.navbar ul{
  color: white;
  height: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

}

input{
  background-color: darkgray;
  border: 0;
  color: whitesmoke;
  border-radius: 2px;
}

.navMain{
  height: 50px;
  width: 100%;
  background-color: black;
}

.navMain ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  color: lightgray;
  font: 14px;
  font-family: sans-serif;
}

.all{
  display: flex;
  font-size: 14px;
  font-family: sans-serif;
  height: 50px;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: grey;
}

.login{
  font: 14px;
  font-family: sans-serif ;
}
.droid{
  display: flex;
  justify-content: center;
  width: 80%
}

.vader{
  display: flex;
  justify-content: center;
  width: 80%;
}

.batch{
  display: flex;
  justify-content: center;
  width:80%
}
a:hover{
  color: white;
}